<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>创建昵称</title>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    var postData = {
      "nick_name": "御坂美琴",
      "room_id": "{{ room_id }}"
    }


    $('#commit').click(function(event) {
      console.log("click");
      $.ajax({
        type: "POST",
        url: "/api/chat/create-name",
        data: JSON.stringify(postData),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(data){window.location.replace("/chat/{{ room_id }}");},
        failure: function(errMsg) {
          alert(errMsg);
        }
      });
    });
  })
  </script>
</head>
<body>
  <form action="/api/chat/create-name" method="post">
    <input type="button" id="commit" value="确定">
  </form>
</body>
</html>
